body{
    
    font-family: 'Merriweather', serif;
    
}

h1{
    font-size: 50px;
    
    
}

#focused-on{
    border-left: orangered;
}
.orange-color{
    color: orange;
}

#stay-mission{
    display: flex;
    margin-bottom: 100;
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width: 50%;
    padding: 3%;
    padding-left: 5%;
    
}

.half-width img{
    width: 60%;
}

.link_button{

    text-decoration: none;
    background-image: linear-gradient(orange, tomato) ;
    padding: 10px 40px;
    border-radius: 5px;
}

span{
    color: orange;
}

.mission-area{

    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
}

.my-missions{
    text-align: center;
}

.half-mission{
    width: 33%;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 20px;
    background-color: paleturquoise;
}

.half-missions{
    width: 33%;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 20px;
    background-color: tan;
}

.half-missionary{
    width: 33%;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 20px;
    background-color: plum;
}

#img-change{
    width: 150px;
    height: 150px;
}
.say-mission{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
}

.sty-mission{
    background-image: url(images/shapes/shape-3.png);
    background-repeat: no-repeat;
    
}

footer{
    text-align: center;
    background-color: black;
    color: wheat;

}
